@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  padding: 0 70px 0 70px;
  font-family: "Press Start 2P";

  background: #dbc195 url("../resources/right-bottom.png") repeat-x left bottom
    fixed;
  background-size: auto;
  background-position: right bottom;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

body > div:first-child {
    padding: 20px;
}

.container-logo {
  display: flex;
  align-items: center;
}
.container-logo img {
  margin-right: 10px;
}

.three-columns {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.three-columns span {
  flex-basis: calc(33.33% - 10px); /* Adjust the width of each column */
  margin-right: 15px;
  text-align: justify;
}

#bomberman {
  border: gray solid 6px;
  /* margin: 0 auto; */
}

@font-face {
  font-family: "Press Start 2P";
}
